<!doctype html>
<html>
<head>
  <title>getopenid</title>
</head>
<body>

<script type="text/javascript">
var isWeixin = function () { //判断是否是微信
    var ua = navigator.userAgent.toLowerCase();
    return ua.match(/MicroMessenger/i) == "micromessenger";
};
var locationToJump = function(){
  switch ('<%= appname %>') {
    case "wanchehui":
      return 'http://test1.10000cars.cn';
    case "xianzhi":
      return 'http://xianzhi.10000cars.cn';
    default:
      alert("您的应用暂时没有上线，请联系我们");
      return "http://test2.10000cars.cn";

  }
}

</script>
<% if (openid) { %>
  <p>
    已经有了openId, 需要判是否有需要返回的的页面
  </p>
  <% if(from_url) {%>
    <p>
      已经有了openId, 也有返回的页面，那么就跳转到返回的页面
    </p>
    <script>
      alert('open', <%=openid%>)
      var from_url = encodeURI('<%= from_url %>');
      alert(from_url, <%= from_url %>)
      window.location.assign(from_url);

    </script>
  <%}else{%>
      <script>
        alert(<%=openid %>);
        window.location.assign(locationToJump());
      </script>
  <%}%>
<%}else{%>
  <script>
  if(!isWeixin()){
    window.location.assign(locationToJump());
  }else{
    var redirect_uri = encodeURI(window.location.href);
    alert(redirect_uri);
    window.location.assign('https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx9ca3272fed4926ba&redirect_uri='+redirect_uri+'&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect');
  }
  </script>
<% }%>




</body>
</html>
