<!doctype html>
<html>
<head>
  <title>getopenid_back</title>
</head>
<body>
<p>已经获取了openid,<%=openid %>, 要返回的地址是: <%=from_url%><%=openid%></p>
<script type="text/javascript">
  window.location.assign("<%=from_url %>/<%=openid %>");
</script>




</body>
</html>
